.categoryName {
  font-size: 32px;
  font-weight: 500;
}

.container {
  display: flex;
  justify-content: space-between;
  outline: 3px solid red;
}

.leftBlock {
  display: flex;
  flex-direction: column;
  width: 244px;
  outline: 3px solid red;
}

.leftBlock span:fir


.rightBlock {
  display: flex;
  outline: 3px solid red;
}
