 {
  /*  container1 start       */
}
.container1 {

}

.sliderBox{
  height: 500px;
  padding: 0;
  outline: 1px solid red;
  border-radius: 30px;
}

.sliderBox img:first-of-type {
  position: absolute;

  margin-bottom: 120px;

}

.container1 img:nth-of-type(2) {
  position: absolute;
  left: 740px;
  opacity: 0.9;
}

.container1 p {
  position: absolute;
  color: white;
  font-size: 40px;
  font-weight: 50;
  width: 740px;
  height: 102px;
  top: 40px;
  left: 60px;
  font-weight: 500;
}

.but1 {
  align-items: center;
  justify-content: center;
  bottom: 46px;
  width: 242px;
  height: 50px;
  color: #fff;
  border-radius: 12px;
  cursor: pointer;
  background-color: #439537;
}

.container1 button:first-of-type {
  display: flex;
  border: none;
  background-color: transparent;
  left: 59px;
}

.container1 button:nth-of-type(2) {
  display: flex;
  border: none;
  background-color: transparent;
  left: 127px;
}

 {
  /*  container1 end      */
}

 {
  /*  container2 start      */
}

.container2 {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.popular {
  display: flex;
  margin-left: 10px;
}

.popular p {
  font-size: 29px;
  height: 39px;
  font-weight: 500;
}

.container2 button {
  display: flex;
  border-radius: 10px;
  border: none;
  cursor: pointer;
}

 {
  /*  container2 end      */
}

 {
  /*  container3 start     */
}

.catalogMenu {
  display: flex;
  flex-wrap: wrap;
}

.catalogMenuCard {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  width: 240px;
  height: 240px;
  position: relative;
  margin: 10px;
  padding: 3px;
  border-radius: 15px;
  border: 1px solid rgba(128, 128, 128, 0.6);

}

.catalogMenuCard img {
  width: 100%;
  height: 160px;
  border-radius: 15px;
  /* outline: 3px solid red; */
}

.catalogMenuCard span {
  font-size: 16px;
  font-weight: 500;
  color: black;
  margin: 5px;
  height: 70px;
  width: 200px;
  overflow-wrap: break-word;
  white-space: normal;
  padding: 2px;
}

.container3 {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.column {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.container3 button {
  display: flex;
  width: 240px;
  height: 240px;
  border-radius: 15px;
  border: none;
  background-color: #f3f3f3;
  cursor: pointer;
}

.container3 button img {
  width: 240px;
  height: 240px;
}
 {
  /*  container3 end      */
}

.sliderBox {
  padding: 20px;
  width: 1600px;
}

/* .sliderBox {
  padding: 16px;
  width: 100%;
} */

.actionList {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.actionProduct {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.actionProduct span {
  font-size: 32px;
  font-weight: 500;
}

.buttons button {
  align-items: center;
  justify-content: center;
  width: 56px;
  height: 56px;
  margin: 7px;
  border-radius: 12px;
  border: none;
  cursor: pointer;
}

.newProduct {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.newProduct span {
  font-size: 32px;
  font-weight: 500;
}

 {
  /*  container4 start      */
}

.container4 {
  display: flex;
  position: relative;
  justify-content: space-between;
  border-radius: 15px;
  height: 480px;
}

.container4 img {
  position: absolute;
  display: flex;
  border-radius: 15px;
}

.textForSolution {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: absolute;
  width: 650px;
  color: #fff;
  top: 60px;
  left: 35px;
}

.textForSolution span:first-of-type {
  font-size: 32px;
  font-weight: 500;
  margin-bottom: 20px;
}

.textForSolution span:nth-of-type(2) {
  font-size: 16px;
  font-weight: 400;
  margin-bottom: 7px;
}
.textForSolution span:nth-of-type(3) {
  font-size: 16px;
  font-weight: 400;
}

.buttons2 {
  display: flex;
  position: absolute;
  align-items: center;
  justify-content: space-between;
  width: 126px;
  height: 56px;
  color: #fff;
  left: 1140px;
  top: 80px;
}

.buttons2 button:first-of-type {
  display: flex;
  width: 56px;
  height: 56px;
  background: transparent;
  border-radius: 12px;
  border: none;
  cursor: pointer;
}

.buttons2 button:nth-of-type(2) {
  display: flex;
  width: 56px;
  height: 56px;
  background: transparent;
  border-radius: 12px;
  border: none;
  cursor: pointer;
}

.buttons2 button img {
  width: 56px;
  height: 56px;
  z-index: 10;
}

.busSolContainer {
  display: flex;
  position: absolute;
  justify-content: space-between;
  align-items: center;
  top: 130px;
  width: 1255px;
  height: 257px;
  /* padding: 60px; */
  border: none;
  margin: 15px;
  padding-bottom: 120px;
  /* padding-right: 26px; */
  /* margin-left: -20px; */
}

.busSolCard {
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* width: 357px; */
  width: 100%;
  height: 490px;
}

 {
  /*  container4 end      */
}

.news {
  margin-top: 10px;
  height: 40px;
}

.news span {
  font-size: 32px;
  font-weight: 500;
}

.newsCard {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.oneNewsCard:hover {
  transform: scale(1.05); /* Увеличение карточки при наведении */
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2); /* Добавление тени при наведении */
}

.oneNewsCard {
  /* flex: 1; */
  flex-basis: 31%;
  width: 412px;
  height: 447px;
  margin: 0 10px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  border-radius: 15px;
}

.partners {
  margin-top: 10px;
  height: 40px;
}

.partners span {
  font-size: 32px;
  font-weight: 500;
}

.partnersBlock {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* .partnersBlock img {
  width: 400px;
  height: 400px;
} */

.feedback {
  margin-top: 10px;
  height: 40px;
}

.feedback span {
  font-size: 32px;
  font-weight: 500;
}

.feedback1 span {
  font-size: 16px;
  font-weight: 400;
}

.feedbackBlock {
  display: flex;
  width: 883px;
  height: 326px;

  border: 1px solid #a3a3a3;
  border-radius: 15px;
  justify-content: space-between;
  flex-direction: column;
}

.inputBlock1 {
  display: flex;
  width: 100%;
  justify-content: space-between;
  padding-left: 50px;
  padding-right: 50px;
  padding-top: 50px;
  /* padding: 50px; */
}

.inputBlock1 input {
  width: 332px;
  height: 40px;
  border-left: none;
  border-top: none;
  border-right: none;
  padding-left: 15px;
  padding-right: 10px;
  border-bottom: 1px solid #bfbfbf;
  background: transparent;
}

.inputBlock2 {
  display: flex;
  width: 100%;
  justify-content: space-between;
  padding-left: 50px;
  padding-right: 50px;
  padding-top: 40px;
  padding-bottom: 70px;
}

.inputBlock2 input {
  width: 332px;
  height: 40px;
  border-left: none;
  border-top: none;
  border-right: none;
  border-bottom: 1px solid #bfbfbf;
  padding-left: 15px;
  padding-right: 10px;
  background-color: none;
  background: transparent;
  margin-bottom: -20px;
}

.send {
  display: flex;
  width: 90%;
  align-items: center;
  margin-bottom: 50px;
  justify-content: space-between;
}

.spanchik {
  margin: 5px;
  width: 500px;
  font-size: 14px;
  color: #a3a3a3;
}

.send button {
  width: 235px;
  height: 44px;
  border-radius: 12px;
  font-size: 16px;
  font-weight: 400;
  background-color: #439537;
  color: #fff;
  border: none;
  margin-right: -42px;
  cursor: pointer;
}

.custom_checkbox {
  display: flex;
  align-items: center;
  cursor: pointer;
  margin-left: 55px;
  margin-right: -20px;
}
.custom_checkbox input {
  display: none;
}

.checkmark {
  width: 20px; /* Ширина чекбокса */
  height: 20px; /* Высота чекбокса */
  border-radius: 50%; /* Делаем круглый */
  border: 2px solid #ccc; /* Цвет границы */
  position: relative;
  margin-right: 10px; /* Отступ справа */
  transition: background-color 0.2s;
}

.custom_checkbox input:checked + .checkmark {
  background-color: #4caf50; /* Цвет фона при выборе */
  border-color: #4caf50; /* Цвет границы при выборе */
}

.checkmark::after {
  content: '';
  position: absolute;
  display: none; /* Скрываем по умолчанию */
  left: 6px; /* Позиция внутри чекбокса */
  top: 2px; /* Позиция внутри чекбокса */
  width: 6px; /* Ширина галочки */
  height: 10px; /* Высота галочки */
  /* border: solid white; */
  border-width: 0 2px 2px 0; /* Формируем галочку */
  transform: rotate(45deg); /* Поворачиваем галочку */
}

.custom_checkbox input:checked + .checkmark::after {
  display: block; /* Показываем галочку при выборе */
}
 {
  /*  container1 start       */
}

.container1 {
  margin-top: 20px;
  display: flex;
  position: relative;
  height: 360px;
  width: 1325px;
  margin-left: -20px;
}

.container1 img:first-of-type {
  position: absolute;
}

.imgSize {
  position: absolute;
  align-items: center;
  justify-content: center;
  left: 803px;
  height: 304px;
  width: 459px;
  margin: 10px;
  opacity: 0.9;
  /*  */
}

.imgSize img {
  width: 90%;
  height: 100%;
  position: absolute;
  /* left: 803px;
  height: 304px;
  width: 459px;
  margin: 10px;
  opacity: 0.9; */
  /* border: 3px solid red; */
}

.container1Mini {
  position: absolute;
  display: flex;
  width: 750px;
  height: 220px;
  left: 50px;
  /* align-items: center; */
  justify-content: space-between;
  flex-direction: column;
  /* border: 5px solid red; */
  padding: 10px;
  padding-top: 25px;
  padding-bottom: 23px;
}

.container1Mini span:first-of-type {
  /* position: absolute; */
  color: white;
  font-size: 40px;
  font-weight: 500;
  /* width: 740px;
  height: 102px;
  top: 40px;
  left: 60px; */
  font-weight: 500;
}

.container1Mini span:nth-of-type(2) {
  /* position: absolute; */
  font-size: 16px;
  color: #fff;
  font-weight: 400;
  width: 600px; /* Ширина контейнера */
  overflow: hidden; /* Скрыть переполнение */
  display: -webkit-box; /* Используем flexbox для многострочного текста */
  -webkit-box-orient: vertical; /* Ориентация по вертикали */
  -webkit-line-clamp: 2; /* Ограничение на 2 строки */
}

.container1 button {
  position: absolute;
  align-items: center;
  justify-content: center;
  top: 243px;
  bottom: 6px;
  width: 56px;
  height: 56px;
  border-radius: 12px;
  cursor: pointer;

  margin-left: 20px;
}

.container1 button:first-of-type {
  display: flex;
  border: none;
  background-color: transparent;
  left: 59px;
}

.container1 button:nth-of-type(2) {
  display: flex;
  border: none;
  background-color: transparent;
  left: 127px;
}

 {
  /*  container1 end      */
}

 {
  /*  container2 start      */
}

.container2 {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.popular {
  display: flex;
  margin-left: 10px;
}

.popular p {
  font-size: 29px;
  height: 39px;
  font-weight: 500;
}

.container2 button {
  display: flex;
  border-radius: 10px;
  border: none;
  cursor: pointer;
}

 {
  /*  container2 end      */
}

 {
  /*  container3 start     */
}

.container3 {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.column {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.container3 button {
  display: flex;
  width: 240px;
  height: 240px;
  border-radius: 15px;
  border: none;
  background-color: #f3f3f3;
  cursor: pointer;
}

.container3 button img {
  width: 240px;
  height: 240px;
}
 {
  /*  container3 end      */
}

.sliderBox {
  padding: 20px;
  width: 1600px;
  /*  */
}

/* .sliderBox {
  padding: 16px;
  width: 100%;
} */

.actionList {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.actionProduct {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.actionProduct span {
  font-size: 32px;
  font-weight: 500;
}

.buttons button {
  align-items: center;
  justify-content: center;
  width: 56px;
  height: 56px;
  margin: 7px;
  border-radius: 12px;
  border: none;
  cursor: pointer;
}

.newProduct {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.newProduct span {
  font-size: 32px;
  font-weight: 500;
}

 {
  /*  container4 start      */
}

.container4 {
  display: flex;
  position: relative;
  justify-content: space-between;
  border-radius: 15px;
  height: 540px;
  width: 1310px;
}

.container4 img {
  position: absolute;
  display: flex;
  border-radius: 15px;
}

.textForSolution {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: absolute;
  width: 650px;
  color: #fff;
  top: 60px;
  left: 35px;
}

.textForSolution span:first-of-type {
  font-size: 32px;
  font-weight: 500;
  margin-bottom: 20px;
}

.textForSolution span:nth-of-type(2) {
  font-size: 16px;
  font-weight: 400;
  margin-bottom: 7px;
}
.textForSolution span:nth-of-type(3) {
  font-size: 16px;
  font-weight: 400;
}

.buttons2 {
  display: flex;
  position: absolute;
  align-items: center;
  justify-content: space-between;
  width: 126px;
  height: 56px;
  color: #fff;
  left: 1140px;
  top: 80px;
}

.buttons2 button:first-of-type {
  display: flex;
  width: 56px;
  height: 56px;
  background: transparent;
  border-radius: 12px;
  border: none;
  cursor: pointer;
}

.buttons2 button:nth-of-type(2) {
  display: flex;
  width: 56px;
  height: 56px;
  background: transparent;
  border-radius: 12px;
  border: none;
  cursor: pointer;
}

.buttons2 button img {
  width: 56px;
  height: 56px;
  z-index: 10;
}

.busSolContainer {
  display: flex;
  position: absolute;
  justify-content: space-between;
  align-items: center;
  top: 130px;
  width: 1255px;
  height: 257px;
  /* padding: 60px; */
  border: none;
  margin: 15px;
  padding-bottom: 120px;
  /* padding-right: 26px; */
  /* margin-left: -20px; */
}

.busSolCard {
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* width: 357px; */
  width: 100%;
  height: 490px;
}

 {
  /*  container4 end      */
}

.news {
  margin-top: 10px;
  height: 40px;
}

.news span {
  font-size: 32px;
  font-weight: 500;
}

.newsCard {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.oneNewsCard:hover {
  transform: scale(1.05); /* Увеличение карточки при наведении */
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2); /* Добавление тени при наведении */
}

.oneNewsCard {
  /* flex: 1; */
  flex-basis: 31%;
  width: 412px;
  height: 447px;
  margin: 0 10px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  border-radius: 15px;
}

.partners {
  margin-top: 10px;
  height: 40px;
}

.partners span {
  font-size: 32px;
  font-weight: 500;
}

.partnersBlock {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* .partnersBlock img {
  width: 400px;
  height: 400px;
} */

.feedback {
  margin-top: 10px;
  height: 40px;
}

.feedback span {
  font-size: 32px;
  font-weight: 500;
}

.feedback1 span {
  font-size: 16px;
  font-weight: 400;
}

.feedbackBlock {
  display: flex;
  width: 883px;
  height: 326px;

  border: 1px solid #a3a3a3;
  border-radius: 15px;
  justify-content: space-between;
  flex-direction: column;
}

.inputBlock1 {
  display: flex;
  width: 100%;
  justify-content: space-between;
  padding-left: 50px;
  padding-right: 50px;
  padding-top: 50px;
  /* padding: 50px; */
}

.inputBlock1 input {
  width: 332px;
  height: 40px;
  border-left: none;
  border-top: none;
  border-right: none;
  padding-left: 15px;
  padding-right: 10px;
  border-bottom: 1px solid #bfbfbf;
  background: transparent;
}

.inputBlock2 {
  display: flex;
  width: 100%;
  justify-content: space-between;
  padding-left: 50px;
  padding-right: 50px;
  padding-top: 40px;
  padding-bottom: 70px;
}

.inputBlock2 input {
  width: 332px;
  height: 40px;
  border-left: none;
  border-top: none;
  border-right: none;
  border-bottom: 1px solid #bfbfbf;
  padding-left: 15px;
  padding-right: 10px;
  background-color: none;
  background: transparent;
  margin-bottom: -20px;
}

.send {
  display: flex;
  width: 90%;
  align-items: center;
  margin-bottom: 50px;
  justify-content: space-between;
}

.send span {
  margin-left: -10px;
  font-size: 14px;
  color: #a3a3a3;
}

.send button {
  width: 235px;
  height: 44px;
  border-radius: 12px;
  font-size: 16px;
  font-weight: 400;
  background-color: #439537;
  color: #fff;
  border: none;
  margin-right: -42px;
  cursor: pointer;
}

.custom_checkbox {
  display: flex;
  align-items: center;
  cursor: pointer;
  margin-left: 55px;
  margin-right: -20px;
}
.custom_checkbox input {
  display: none;
}

.checkmark {
  width: 20px; /* Ширина чекбокса */
  height: 20px; /* Высота чекбокса */
  border-radius: 50%; /* Делаем круглый */
  border: 2px solid #ccc; /* Цвет границы */
  position: relative;
  margin-right: 10px; /* Отступ справа */
  transition: background-color 0.2s;
}

.custom_checkbox input:checked + .checkmark {
  background-color: #4caf50; /* Цвет фона при выборе */
  border-color: #4caf50; /* Цвет границы при выборе */
}

.checkmark::after {
  content: '';
  position: absolute;
  display: none; /* Скрываем по умолчанию */
  left: 6px; /* Позиция внутри чекбокса */
  top: 2px; /* Позиция внутри чекбокса */
  width: 6px; /* Ширина галочки */
  height: 10px; /* Высота галочки */
  /* border: solid white; */
  border-width: 0 2px 2px 0; /* Формируем галочку */
  transform: rotate(45deg); /* Поворачиваем галочку */
}

.custom_checkbox input:checked + .checkmark::after {
  display: block; /* Показываем галочку при выборе */
}
