.container {
    margin-top: 40px;
    display: flex;
    position: relative;
    height: 325px;
}

.container img:first-of-type {
   position: absolute;
}

.container img:nth-of-type(2) {
  position: absolute;
  left: 740px;
  opacity: 0.9;
}

.container p {
    position: absolute;
    color: white;
    font-size: 40px;
    fon
    width: 800px;
}
