 {
  /*  container1 start       */
}

.container1 {
  margin-top: 40px;
  display: flex;
  position: relative;
  height: 325px;
}

.container1 img:first-of-type {
  position: absolute;
}

.container1 img:nth-of-type(2) {
  position: absolute;
  left: 740px;
  opacity: 0.9;
}

.container1 p {
  position: absolute;
  color: white;
  font-size: 40px;
  font-weight: 50;
  width: 740px;
  height: 102px;
  top: 40px;
  left: 60px;
  font-weight: 500;
}

.container1 button {
  position: absolute;
  align-items: center;
  justify-content: center;
  bottom: 46px;
  width: 56px;
  height: 56px;
  border-radius: 12px;
}

.container1 button:first-of-type {
  display: flex;
  border: none;
  background-color: transparent;
  left: 59px;
}

.container1 button:nth-of-type(2) {
  display: flex;
  border: none;
  background-color: transparent;
  left: 127px;
}

 {
  /*  container1 end      */
}

 {
  /*  container2 start      */
}

.container2 {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.popular {
  display: flex;
  margin-left: 10px;
}

.popular p {
  font-size: 29px;
  height: 39px;
  font-weight: 500;
}

.container2 button {
  display: flex;
  border-radius: 10px;
  border: none;
}

 {
  /*  container2 end      */
}

 {
  /*  container3 start     */
}

.container3 {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.column {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.container3 button {
  display: flex;
  width: 240px;
  height: 240px;
  border-radius: 15px;
  border: none;
  background-color: #f3f3f3;
}

.container3 button img {
  width: 240px;
  height: 240px;
}
 {
  /*  container3 end      */
}

.actionList {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.actionProduct {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.actionProduct span {
  font-size: 32px;
  font-weight: 500;
}

.buttons button {
  align-items: center;
  justify-content: center;
  width: 56px;
  height: 56px;
  margin: 7px;
  border-radius: 12px;
  border: none;
}

.newProduct {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.newProduct span {
  font-size: 32px;
  font-weight: 500;
}

 {
  /*  container4 start      */
}

.container4 {
  display: flex;
  position: relative;
  justify-content: space-between;
  border-radius: 15px;
}

.container4 img {
  position: absolute;
  display: flex;
  border-radius: 15px;
}

.textForSolution {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: absolute;
  width: 650px;
  color: #fff;
  top: 60px;
  left: 60px;
}

.textForSolution span:first-of-type {
  font-size: 32px;
  font-weight: 500;
  margin-bottom: 20px;
}

.textForSolution span:nth-of-type(2) {
  font-size: 16px;
  font-weight: 400;
  margin-bottom: 7px;
}
.textForSolution span:nth-of-type(3) {
  font-size: 16px;
  font-weight: 400;
}

.buttons2 {
  display: flex;
  position: absolute;
  align-items: center;
  justify-content: space-between;
  width: 126px;
  height: 56px;
  color: #fff;
  left: 1110px;
  top: 80px;
}

.buttons2 button:first-of-type {
  display: flex;
  width: 56px;
  height: 56px;
  background: transparent;
  border-radius: 12px;
  border: none;
}

.buttons2 button:nth-of-type(2) {
  display: flex;
  width: 56px;
  height: 56px;
  background: transparent;
  border-radius: 12px;
  border: none;
}

.buttons2 button img {
  width: 56px;
  height: 56px;
}

.busSolContainer {
  display: flex;
  position: absolute;
  justify-content: space-between;
  align-items: center;
  top: 130px;
  width: 1278px;
  height: 257px;
  padding: 60px;
  border: none;
}

.busSolCard {
  display: flex;
  width: 357px;
 
}

 {
  /*  container4 end      */
}

.news {
  display: flex;
  position: relative;
  margin-top: 30px;
}

.news span {
  font-size: 300px;
}
