.container {
  margin-top: 40px;
  display: flex;
  position: relative;
  height: 325px;
}

.container img:first-of-type {
  position: absolute;
}

.container img:nth-of-type(2) {
  position: absolute;
  left: 740px;
  opacity: 0.9;
}

.container p {
  position: absolute;
  color: white;
  font-size: 40px;
  font-weight: 50;
  width: 740px;
  height: 102px;
  top: 40px;
  left: 60px;
}

.container button {
  position: absolute;
  align-items: center;
  justify-content: center;
  bottom: 46px;
  width: 56px;
  height: 56px;
  border-radius: 12px;
}

.container button:first-of-type {
  display: flex;
  left: 59px;
}

.container button:nth-of-type(2) {
  display: flex;
  left: 127px;
}
