.container {
    margin-top: 30px;
    display: flex;
    position: relative;
}

.container img:first-of-type {
   position: absolute;
}

.container img:nth-of-type(2) {
  position: absolute;
  lef
  opacity: 0.9;
}
