.userData {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  height: 292px;
  width: 430px;
  outline: 3px solid green;
}

.userData div {
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* padding-left: 15px; */
  width: 100%;
}

.dottedLine {
  content: '';
  display: block;
  width: 100%;
  height: 0;
  border-bottom: 1px dotted gray;
  padding-top: 1px;
  padding: 1px;
}

.leftSpan {
  outline: 3px solid red;
  width: 100%;
  height: 100%;
  font-size: 16px;
  font-weight: 400;
}

.rightSpan {
  display: flex;
  align-items: center;
  justify-content: center;
  outline: 3px solid red;
  width: 100%;
  height: 100%;
  justify-content: flex-end;
  /* margin-right: -45px; */
  white-space: nowrap;
  font-size: 16px;
  font-weight: 400;
  /* padding: 5px; */
}

.userData button {
  width: 250px;
  height: 44px;
  font-size: 16px;
  font-weight: 400;
  border-radius: 12px;
  background-color: #439537;
  color: #fff;
}
