.userData {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  height: 250px;
  width: 50%;
}

.userData div {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 15px;
}

.dottedLine {
  content: '';
  display: block;
  width: 100%; /* Или нужная вам ширина */
  height: 0; /* Высота пунктирной линии */
  border-bottom: 1.4px dotted gray; /* Пунктирная линия */
  margin: 10px 0;
}

.leftSpan {
  width: 300px;
}

.rightSpan {
  display: block;
outline: 3px solid red;
  width: 1050px;
  justify-content: flex-end;
}
