.container {
  display: flex;
  flex-direction: column;
  /* height: 292px; */
  width: 436px;
  gap: ;
}

.userData {
  display: flex;
  /* justify-content: space-between; */
  width: 400px;
  gap: 40px;
  font-size: 18px;
  font-weight: 500;
  outline: 1px solid red;
}
