.userData {
    display: flex;
    outline: 3px solid red;
    justify-content: space-between;
    flex-direction: column;
    height: 250px;
    width: 440px;
}

.userData div {
    display: flex;
    align-items: center;
    justify-content: space-between;
    outline: 3px solid red;
}



.dottedLine {
    content: "";
    display: inline-block;
    width: 90%; /* Или нужная вам ширина */
    height: 1px; /* Высота пунктирной линии */
    background: black; /* Цвет линии */
    border-bottom: 1px dotted black; /* Пунктирная линия */
    margin: 10px; /* Отступ слева от текста */
  }

  .leftSpan {
    w
  }