.container {
  display: flex;
  flex-direction: column;
  /* height: 292px; */
  width: 436px;
}


.userData{
  display: flex;
  /* justify-content: space-between; */
  width: 400px;
gap: 40px;
  outline: 1px solid red;
}