.footer {
  width: 100%;
  height: 546px;
  background-color: #7979794d;
  margin-top: 70px;
}

.container1 {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  margin-top: 20px;
  padding-left: 70px;
  padding-right: 70px;
}

.container1 p {
  font-size: 15px;
  font-weight: 500;
}

.container1 span {
  font-size: 14px;
  font-weight: 400;
  margin-top: 10px;
  color: #797979;
}

.container1Equipment {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}

.container1Accessories {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}

.container1Info {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}

.container1Contacts {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}

container