.container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container img{
    width: 97px;
    height: 68px;
}

.containerForm{
    display: flex;
    flex-direction: column;
    width: 491px;
}