
.img {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 150px;
  height: 120px;
}

.img img {
  width: 100%;
  height: 100%;
}

.basketNameBlock {
  display: flex;
  /* align-items: center; */
  justify-content: space-between;
  flex-direction: column;
  overflow: hidden;

  width: 500px;
  height: 130px;
}

.basketNameBlock span:first-of-type {
  flex-grow: 1;
  padding: 5px;
  width: 480px;
  height: 60px;

  font-size: 16px;
  font-weight: 400;
}

.basketNameBlock span:nth-of-type(2) {
  flex-grow: 1;
  padding: 5px;
  font-size: 16px;
  font-weight: 400;
  color: #00b300;
}

.counter {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 144px;
  height: 65px;
}

.counter span:first-of-type {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 81px;
  height: 37px;
  font-size: 20px;
  font-weight: 500;
  border: 1px solid gray;
}

.counter span:nth-of-type(2) {
  font-size: 16px;
  font-weight: 500;
  color: gray;
  padding-left: 29px;
}

.counter button {
  font-size: 30px;
  width: 30px;
  margin-bottom: 21px;
  border: none;
  cursor: pointer;
}

.price {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 200px;
  height: 70px;
  overflow: hidden;
}

.price span {
  font-size: 24px;
}

.deleteButton {
  display: flex;
  align-items: center;
  justify-content: center;
  color: gray;
  background: transparent;
  width: 40px;
  height: 40px;
  font-size: 40px;
  border: none;
  cursor: pointer;
}
