.WidthBlock{
    width: var(--blockWidth);
    display: flex;
    flex-direction: column;
    gap: 70px;
  }
  
  @media (min-width: 0px) and (max-width: 1299px) {
    .WidthBlock{
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 30px;
    }
  }
  