.container {
    display: flex;
    flex-direction: column;
}

.container span:nth-of-type(1){
    font-size: 32px;
    font-weight: 500;
}

.container span:nth-of-type(2){
    font-size: 24px;
    font-weight: 500;
}