.solContainer {
  position: relative;
  display: flex;
  /* width: 357px; */
  border-radius: 10px;
  border: none;
}

.container img {
  position: absolute;
  /* width: 357px; */
  height: 257px;
  border-radius: 10px;
}

.solContainer div:first-of-type {
  position: absolute;
  align-items: center;
  justify-content: center;
  display: flex;
  border: none;
  width: 116px;
  height: 37px;
  background-color: #439537;
  color: #fff;
  font-size: 14px;
  border-radius: 0 12px 12px 0;
  top: 20px;
  font-weight: 400;
}

.shadow {
  position: absolute;
  display: flex;
  border: none;
  top: 145px;
  color: #fff;
  justify-content: space-between;
  flex-direction: column;
  background-color: black;
  width: 100;
  height: 112px;
  border-radius: 0 0 15px 15px;
  opacity: 0.5;
  padding: 20px;
}

.shadow span:first-of-type {
    font-size: 16px;
    font-weight: 600;
    color: #fff;
}

.shadow span:nth-of-type(2) {
    font-size: 20px;
    font-weight: 600;
    color: #fff;
}
