.newsContainer {
  display: flex;
  width: 100%;
  flex-direction: column;
  margin: 0;
  padding: 0;
}

.newsContainer_img {
  width: 100%;
  height: 280px;
}

.newsContainer_img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}



.newsContainer span:first-of-type {
  font-size: 14px;
  font-weight: 500;
  color: #00b300;
}

.newsContainer span:nth-of-type(2) {
  font-size: 20px;
  font-weight: 500;
}
