.catalogName {
  font-size: 32px;
  font-weight: 500;
  padding: 30px;
  margin-bottom: -40px;
}

.catalogMenu {
  display: flex;
  flex-wrap: wrap;
}

.catalogMenuCard {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  width: 240px;
  height: 240px;
  position: relative;
  margin: 10px;
  padding: 3px;
  border-radius: 15px;
  border: 1px solid rgba(128, 128, 128, 0.6);
}

.catalogMenuCard img {
  width: 100%;
  height: 160px;
  border-radius: 15px;
}

.catalogMenuCard span {
  font-size: 16px;
  font-weight: 500;
  color: black;
  margin: 5px;
  height: 70px;
  width: 200px;
  overflow-wrap: break-word;
  white-space: normal;
  padding: 2px;
}
