.catalogName {
    font-size: 32px;
    font-weight: 500;
    padding: 30px;
    outline: 3px solid red;
}

.catalogMenu{
    outline: 3px solid red;
    display: flex;
    flex-wrap: wrap;
}

.catalogMenuCard{
    /* display: flex; */
    outline: 3px solid red;
    margin: 10px;
}