/* верхняя часть начало */

.headerContainer1 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 17px;
  margin-bottom: -65px;
}

.location {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 240px;
}

.location img {
  width: 24px;
  height: 24px;
}

.location img:nth-of-type(2) {
  width: 3px;
  height: 3px;
}

.city {
  font-size: 16px;
  color: #439537;
}

.navone {
  display: flex;
}

.navone li a {
  display: flex;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 16px;
}
.navone img {
  width: 24px;
  height: 24px;
}

.call {
  display: flex;
  justify-content: space-between;
  width: 161px;
  height: 24px;
}

.call img {
  width: 16px;
  height: 16px;
}

.call h4 {
  font-size: 16px;
  color: #439537;
}

.modal {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  z-index: 999;
  width: 300px;
  height: 250px;
  top: 147px;
  right: 410px;
  border-radius: 15px;
  border: 2px solid gray;
  background-color: #fff;
  justify-content: center; /* Центрируем содержимое по горизонтали */
  align-items: center; /* Центрируем содержимое по вертикали */
}

.overlay {
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 999; /* Устанавливаем высокий z-index для overlay */
}

.modalContent {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  padding: 20px;
  border: 1px solid gray;
  border-radius: 15px; /* Закругленные углы */
  width: 300px; /* Ширина модалки */
  height: 250px;
  outline: 2px solid red;
}

.name {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  outline: 1px solid blue;
  width: 100%;
  height: 40px;
  margin-top: 10px;
}

.name span:first-of-type {
  font-size: 16px;
  font-weight: 400;
}

.name span:nth-of-type(2) {
  font-size: 16px;
  font-weight: 400;
  color: #1aba71;
}

.modalButtons {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  /* outline: 1px solid blue; */
  width: 100%;
  height: 130px;
  border: none;
  margin-top: 30px;
  margin-bottom: 10px;
}

.modalButtons button {
  display: flex;
  width: 50%;
  background: none;
  border: none;
  outline: 1px solid blue;
}

.modalButtons span 

.close {
  cursor: pointer; /* Указатель при наведении */
  float: right; /* Правое выравнивание */
  font-size: 28px;
  font-weight: bold;
}

/* верхняя часть конец */

/*///////////////////////////////////////////*/

/* средняя часть начало */

.headerContainer2 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 63px;
}

.houseName {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.houseName img {
  width: 381px;
  height: 63px;
  gap: 0px;
  opacity: 0px;
}

.search {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.search input {
  padding-left: 10px;
  padding-right: 28px;
  width: 540px;
  height: 40px;
  border-radius: 12px;
  border: 1px solid black;
}

.search button {
  display: flex;
  align-items: center;
  position: absolute;
  left: 520px;
  height: 40px;
  width: 68px;
  border-radius: 12px;
  border: none;
  cursor: pointer;
  /* background-color: #439537; */
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 38px;
  margin: 10px;
  gap: 10px;
}

.buttons button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 38px;
  border: none;
  cursor: pointer;
}

/* средняя часть конец */

/*///////////////////////////////////////////*/

/* нижняя часть начало */

.greenLine {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 53px;
  width: 100%;
  background: #439537;
  margin-top: 15px;
}

.navTwo {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navTwo a {
  color: #ffffff;
}

/* нижняя часть конец */
