.headerContainer {
  display: flex;
  position: relative;
  align-items: center;
  /* justify-content: space-between; */
  height: 24px;
  top: 17px;
  /* width: 986px; */
}

.location {
    display: flex;
    position: absolute;
    left: 310px;
}

.location img {
  width: 24px;
  height: 24px;
}

.location span {
    font-size: 16px;
    top: 1px;
}

.ellipse {
    
}

.select {
    position: absolute;
    left: 120px;
    font-size: 16px;
}

.select span {
    position: absolute;
    left: -8px;
    white-space: nowrap;
}

.navone {
    position: absolute;
    left: 530px;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.navone li {
  float: left;
}

.navone li a {
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 16px;
}
.navone img {
  width: 24px;
  height: 24px;
}

.call img {
  width: 16px;
  height: 16px;
}

.call span {
  font-size: 12px;
}
