/* верхняя часть начало */

.headerContainer1 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 17px;
  margin-bottom: -65px;
}

.location {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 240px;
}

.location img {
  width: 24px;
  height: 24px;
}

.location img:nth-of-type(2) {
  width: 3px;
  height: 3px;
}

.city {
  font-size: 16px;
  color: #439537;
}

.navone {
  display: flex;
}

.navone li a {
  display: flex;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 16px;
}
.navone img {
  width: 24px;
  height: 24px;
}

.call {
  display: flex;
  justify-content: space-between;
  width: 161px;
  height: 24px;
}

.call img {
  width: 16px;
  height: 16px;
}

.call h4 {
  font-size: 16px;
  color: #439537;
}



/* верхняя часть конец */

/*///////////////////////////////////////////*/

/* средняя часть начало */

.headerContainer2 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 63px;
}

.houseName {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.houseName img {
  width: 381px;
  height: 63px;
  gap: 0px;
  opacity: 0px;
}

.search {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.search input {
  padding-left: 10px;
  padding-right: 28px;
  width: 540px;
  height: 40px;
  border-radius: 12px;
  border: 1px solid black;
}

.search button {
  display: flex;
  align-items: center;
  position: absolute;
  left: 520px;
  height: 40px;
  width: 68px;
  border-radius: 12px;
  border: none;
  cursor: pointer;
  /* background-color: #439537; */
  
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 38px;
  margin: 10px;
  gap: 10px;
}

.buttons button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 38px;
  border: none;
  cursor: pointer;
}

/* средняя часть конец */

/*///////////////////////////////////////////*/

/* нижняя часть начало */

.greenLine {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 53px;
  width: 100%;
  background: #439537;
  margin-top: 15px;
}

.navTwo {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navTwo a {
  color: #ffffff;
}

/* нижняя часть конец */
