/* верхняя часть начало */

.headerContainer1 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 17px;
  margin-bottom: -65px;
}

.location {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 240px;
}

.cartBadge {
  background: red;
  color: white;
  font-size: 12px;
  border-radius: 50%;
  padding: 3px 7px;
  position: absolute;
  top: -5px;
  right: -5px;
}

.location img {
  width: 24px;
  height: 24px;
}

.location img:nth-of-type(2) {
  width: 3px;
  height: 3px;
}

.cityName {
  font-size: 16px;
  color: black;
  font-weight: 500;
  margin-right: 10px;
  outline: none;
}

.location select {
  outline: none;
  cursor: pointer;
}

.blackBall {
  display: flex;
  width: 10px;
  height: 10px;
  align-items: center;
  justify-content: center;
  font-size: 36px;
  padding-bottom: 20px;
  margin-right: 10px;
}

.citySelect {
  display: flex;
  font-size: 16px;
  color: #439537;
  border: none;
}

.navone {
  display: flex;
}

.navone ul {
  outline: 1px solid red;
}

.navone li a {
  display: flex;
  color: black;
  text-align: center;
  padding: 14px 16px;
  height: 44px;
  text-decoration: none;
  font-size: 16px;
  transition: all 0.3s ease-out;
}

.navone li a:hover {
  color: #439537;
  border-bottom: 1px solid #439537;
}
.navone img {
  width: 24px;
  height: 24px;
}

.call {
  display: flex;
  justify-content: space-between;
  width: 161px;
  height: 24px;
}

.call img {
  width: 16px;
  height: 16px;
}

.call h4 {
  font-size: 16px;
  color: #439537;
}

.phone a {
  text-decoration: none;
  color: inherit;
  font-weight: bold;
}

.phone a:hover {
  color: #ed5338; /* Меняет цвет при наведении */
}

.modalContainer {
  position: relative; /* Контейнер для кнопки и модального окна */
  display: inline-block; /* Окно будет относиться к кнопке */
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: none;
  z-index: 998;
}

.modal {
  position: absolute;
  top: 150%; /* Чтобы появлялось ПОД кнопкой */
  left: -150px;
  width: 200px;
  height: 200px;
  border-radius: 12px;
  background: #fff;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
  z-index: 999;
  /* padding: 30px; */
}

.modalContent {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

/* .modalButtons {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 100%;
  flex-direction: column;
  gap: 15px;
} */

.modalButtons button {
  background: none;
  border: none;
  font-size: 14px;
  cursor: pointer;
  text-align: left;
  padding: 5px;
}

.name {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  justify-content: space-between;
  /* gap: 10px;
   */
  margin-top: ;
   width: 100%;
  font-size: 14px;
  font-weight: 500; /* height: 40px; */
  /* margin-top: 10px; */
}

.name span:first-of-type {
  font-size: 16px;
  font-weight: 400;
}

.name span:nth-of-type(2) {
  font-size: 16px;
  font-weight: 400;
}

.modalButtons {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 130px;
  border: none;
  /* margin-top: 30px; */
  /* margin-bottom: 40px; */
  gap: 25px;
  padding: 5px;
}

.modalButtons button {
  display: flex;
  align-items: center;
  height: 30px;
  width: 100%;
  background: none;
  border: none;
}

.modalButtons span {
  margin-left: 10px;
  font-size: 14px;
  font-weight: 400;
}

.close {
  cursor: pointer; /* Указатель при наведении */
  float: right; /* Правое выравнивание */
  font-size: 28px;
  font-weight: bold;
}

/* верхняя часть конец */

/*///////////////////////////////////////////*/

/* средняя часть начало */

.headerContainer2 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 63px;
}

.houseName {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.houseName img {
  width: 381px;
  height: 63px;
  gap: 0px;
  opacity: 0px;
}

.search {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.search input {
  padding-left: 10px;
  padding-right: 28px;
  width: 535px;
  height: 40px;
  font-size: 16px;
  border-radius: 12px;
  border: 1px solid rgba(128, 128, 128, 0.5);
  outline: none;
}

.search button {
  display: flex;
  align-items: center;
  position: absolute;
  left: 510px;
  height: 40px;
  width: 68px;
  border-radius: 12px;
  border: none;
  cursor: pointer;
  /* background-color: #439537; */
}

.searchImg img {
  height: 100%;
}

.cartIcon {
  position: relative;
  cursor: pointer;
}

.cartCount {
  position: absolute;
  top: -5px;
  right: -10px;
  background-color: red;
  color: white;
  font-size: 12px;
  font-weight: bold;
  border-radius: 50%;
  padding: 4px 6px;
}

.cartCount {
  position: absolute;
  top: -5px;
  right: -10px;
  background-color: red;
  color: white;
  font-size: 12px;
  font-weight: bold;
  border-radius: 50%;
  padding: 4px 8px;
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  height: 38px;
  margin: 10px;
  gap: 10px;
}

.buttons button {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  width: 100%;
  height: 45px;
  background: transparent;
  border: none;
  cursor: pointer;
  font-size: 14px;
}

.searchDropdown {
  width: 535px;
  height: 310px;
  border: 1px solid rgba(128, 128, 128, 0.5);
  border-radius: 0 0 15px 15px;
  border-top: none;
  position: absolute;
  top: 31px;
  max-height: 300px; /* Ограничиваем максимальную высоту */
  overflow-y: auto; /* Добавляем вертикальный скролл, если контент не помещается */
  z-index: 9999;
  background-color: #fff;
}

.searchLi {
  cursor: pointer;
  padding-left: 10px;
  padding-bottom: 5px;
  font-size: 16px;
}

/* средняя часть конец */

/*///////////////////////////////////////////*/

/* нижняя часть начало */

.greenLine {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 53px;
  width: 100%;
  background: #439537;
  margin-top: 15px;
}

.greenLine ul {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 53px;
  gap: 5px;
  justify-content: space-between;
  padding-left: 8px;
  padding-right: 8px;
  color: #fff;
}

.link {
  display: flex;
  align-items: center;
  color: #fff;
  transition: all 0.3s ease;
  height: 50px;
  padding: 5px;
  border-radius: 20px;
  /* outline: 1px solid red; */
}

.link:hover {
  background-color: #fff;
  color: #439537;
}

/* .navTwo {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navTwo a {
  color: #ffffff;
} */

/* нижняя часть конец */
