.container1 {
    display: flex;
    flex-direction: column;
}

.container1 span:first-of-type{
  
    font-weight: 500;
    margin-top: 30px;
    width: 668px;
}

.container1 img {
    width: 668px;
    height: 424px;
}