.pageName {
  font-size: 32px;
  font-weight: 500;
  margin-top: 20px;
  margin-bottom: -50px;
}

.container {
  display: flex;
  flex-wrap: wrap;
  outline: 1px solid red;
}

.containerBusinessCard {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  width: 381px;
  height: 491px;
  border-radius: 15px;
  margin: 26px;

}

.containerBusinessCard:hover {
  transform: scale(1.05); /* Увеличение карточки при наведении */
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.4); /* Добавление тени при наведении */
}

.containerBusinessCard img {
  width: 344px;
  height: 233px;
  margin-top: 15px;
  outline: 3px solide red;
}

.containerBusinessCard span:first-of-type {
  position: absolute;
  left: 19px;
  top: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 18px;
  font-weight: 400;
  color: #fff;
  background-color: #439537;
  width: 127px;
  height: 41px;
  border-radius: 0 14px 14px 0;
}

.containerBusinessCard span:nth-of-type(2) {
  position: absolute;
  font-size: 18px;
  font-weight: 500;
  width: 250px;
  top: 275px;
  left: 19px;
}

.containerBusinessCard span:nth-of-type(3) {
  font-size: 22px;
  font-weight: 600;
  position: absolute;
  top: 340px;
  left: 19px;
}

.containerBusinessCard button {
  position: absolute;
  width: 344px;
  height: 44px;
  top: 400px;
  border-radius: 12px;
  border: none;
  background-color: #439537;
  color: #fff;
  font-size: 16px;
  font-weight: 400;
  cursor: pointer;
}

.pagination {
  display: flex;
  align-items: center;
  list-style: none;
  padding: 0;
  margin-top: 20px;
  margin-left: 500px;
}

.pagination li {
  margin: 0 5px;
  cursor: pointer;
}

.active {
  /* font-weight: bold; */
  /* text-decoration: underline; */
  background-color: #439537;
  border-radius: 8px;
  color: #fff;
}

.page {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  font-size: 14px;
  width: 32px;
  height: 32px;
  border-bottom: none;
}

.arrow {
  font-size: 14px;
  font-weight: 400;
}
