.container {
  display: flex;
  flex-wrap: wrap;
}

.containerBusinessCard {
  display: flex;
  flex-direction: column;
  width: 381px;
  height: 491px;
  outline: 3px solid red;
}

.containerBusinessCard img {
    width: 344px;
    height: 233px;
}
