/* Общий стиль карточки */
.card {
  display: flex;
  flex-direction: column;
  width: 300px;
  height: 480px;
  border-radius: 15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  overflow: hidden;
  background: #fff;
}

.card:hover {
  transform: scale(1.05);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
}

/* Контейнер для изображения */
.imageContainer {
  width: 100%;
  height: 60%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #f8f8f8;
  overflow: hidden;
}

.imageContainer img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  background-color: ;
}

/* Контент карточки */
.cardContent {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 15px;
  height: 40%;
  text-align: center;
}

.productName {
  font-size: 18px;
  font-weight: 600;
  color: #333;
  margin-bottom: 10px;
}

.productPrice {
  font-size: 20px;
  font-weight: bold;
  color: #439537;
  margin-bottom: 15px;
}

/* Кнопка "В корзину" */
.addToCartBtn {
  width: 100%;
  padding: 10px 0;
  background-color: #439537;
  color: white;
  font-size: 16px;
  font-weight: bold;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background 0.3s ease;
}

.addToCartBtn:hover {
  background-color: #367b2b;
}
