.prodName{
    outline: 3px solid red;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-direction: column;
}

.prodName span:first-of-type{
    font-size: 24px;
    font-weight: 500;
}

.prodName span:nth