.prodName {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  flex-direction: column;
  margin-top: 60px;
  margin-bottom: -35px;
}

.prodName span {
  margin: 10px;
}

.prodName span:first-of-type {
  font-size: 24px;
  font-weight: 500;
}

.prodName span:nth-of-type(2) {
  font-size: 16px;
  font-weight: 400;
  color: #797979;
}

.container1 {
  display: flex;
  width: 1300px;
  /* height: 480px; */
  /* align-items: center; */
  justify-content: space-between;
  padding: 15px;
  margin-bottom: -35px;
  /* outline: 1px solid red; */
}

.container1 img {
  width: 495px;
  height: 500px;
  object-fit: contain;
  /* height: 100%; */
}

.container1Characteristics {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 290px;

  gap: 10px;
}

.container1Characteristics p {
  font-size: 20px;
  font-weight: 500;
  margin: 10px;
}

.container1Characteristics li {
  font-size: 16px;
  color: #797979;
  margin-top: 10px;
}

.container1Summ {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  width: 390px;
  height: 65%;
  padding: 40px;
}

.container1Summ span {
  margin-left: 10px;
}

.container1Summ span:first-of-type {
  font-size: 16px;
  font-weight: 400;
}

.container1Summ span:nth-of-type(2) {
  font-size: 36px;
  font-weight: 500;
}

.container1Summ span:nth-of-type(3) {
  font-size: 16px;
  font-weight: 540;
  color: #00b300;
}

.container1SummButton {
  width: 319px;
  height: 59px;
  font-size: 16px;
  border-radius: 15px;
  border: 1px solid #439537;
  gap: 10px;
  color: #439537;
  background: inherit;
  cursor: pointer;
}

.container1SummButton:hover {
  background-color: #439537;
  color: #fff;
}

.twoImg img {
  width: 94px;
  height: 94px;
  margin: 20px;
  border-radius: 10px;
  border: 2px solid transparent;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.twoImg img:hover {
  border-color: #ccc; /* Подсветка при наведении */
}

.twoImg img.active {
  border-color: #439537; /* Выбранное изображение будет выделяться основным цветом */
  box-shadow: 0 0 10px rgba(129, 33, 45, 0.5); /* Лёгкое свечение */
  transform: scale(1.05); /* Немного увеличиваем */
}


.descriptionButton {
  display: flex;
  height: 50px;
  margin-bottom: -35px;
}

.descriptionButton button {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 5px;
  margin-right: 40px;
  border: none;
  background: inherit;
  font-size: 22px;
  font-weight: 500;
  cursor: pointer;
}

.descriptionButtonBut:hover {
  border-bottom: 2px solid black;
}

.descriptionText {
  display: flex;
  padding: 15px;
  margin-bottom: -35px;
}

.view {
  font-size: 28px;
  color: black;
  font-weight: 500;
  margin-bottom: -35px;
}

.viewedProduct {
  display: flex;
  width: 100%;
  overflow: hidden;
  align-items: center;
  height: 500px;
  justify-content: space-between;
  padding: 10px;
}

.viewedProductCard {
  display: flex;
  width: 308px;
  height: 460px;
}
