.prodName {
  outline: 3px solid red;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  flex-direction: column;
  margin-top: 60px;
  margin-bottom: -35px;
}

.prodName span {
  margin: 10px;
}

.prodName span:first-of-type {
  font-size: 24px;
  font-weight: 500;
}

.prodName span:nth-of-type(2) {
  font-size: 16px;
  font-weight: 400;
  color: #797979;
}

.container1 {
  display: flex;
  width: 1300px;
  height: 480px;
  /* align-items: center; */
  justify-content: space-between;
  outline: 3px solid red;
  padding: 15px;
  margin-bottom: -35px;
}

.container1 img {
  width: 495px;
  height: 100%;
  outline: 3px solid red;
}

.container1Characteristics {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 290px;
  
  outline: 3px solid red;
}

.container1Characteristics p {
  font-size: 20px;
  font-weight: 500;
  margin: 10px;
}

.container1Characteristics span {
  font-size: 16px;
  color: #797979;
  margin-top: 20px;
}

.container1Summ {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  width: 390px;
  height: 65%;
  outline: 3px solid red;
  padding: 40px;
}

.container1Summ span {
  margin-left: 10px;
}

.container1Summ span:first-of-type {
  font-size: 16px;
  font-weight: 400;
}

.container1Summ span:nth-of-type(2) {
  font-size: 36px;
  font-weight: 500;
}

.container1Summ span:nth-of-type(3) {
  font-size: 16px;
  font-weight: 540;
  color: #00b300;
}

.container1SummButton {
  width: 319px;
  height: 59px;
  font-size: 16px;
  border-radius: 15px;
  border: 1px solid #439537;
  gap: 10px;
  color: #439537;
  background: inherit;
  cursor: pointer;
}

.container1SummButton:hover {
  background-color: #439537;
  color: #fff;
}

.twoImg {
  display: flex;
  align-items: center;
  outline: 3px solid red;
  margin-bottom: -35px;
}

.twoImg img {
  width: 94px;
  height: 94px;
  margin: 20px;
  border-radius: 10px;
  border: none;
  cursor: pointer;
}

.descriptionButton {
  display: flex;
  outline: 3px solid red;
  height: 50px;
  margin-bottom: -35px;
}

.descriptionButton button {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 5px;
  margin-right: 40px;
  border: none;
  background: inherit;
  font-size: 22px;
  font-weight: 500;
  cursor: pointer;
}

.descriptionButtonBut:hover {
  border-bottom: 2px solid black;
}

.descriptionText {
  display: flex;
  padding: 15px;
  outline: 3px solid red;
}

.card {
  display: ;
  width: 308px;
  height: 460px;
}
